name: CI/CD Pipeline for Integration Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Set up Docker Compose
        uses: docker/setup-qemu-action@v2

      - name: Install Docker Compose CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose
          docker-compose version

      - name: Copy .env.example to .env
        run: cp ./6integrationtesting/.env.example ./6integrationtesting/.env

      - name: Grant execute permissions to scripts
        run: chmod +x ./6integrationtesting/scripts/*.sh

      - name: Run integration script
        working-directory: ./6integrationtesting
        run: |
          chmod +x ./scripts/run-integration.sh
          npm install
          npm run test:integration
